config/*
!config/web.php
nbproject/
runtime/
tests/
vendor/*
!vendor/kartik-v/
!vendor/yii2mod/
!vendor/yiisoft/
vendor/yiisoft/*
!vendor/yiisoft/extensions.php
!vendor/yiisoft/yii2/
vendor/yiisoft/yii2/*
!vendor/yiisoft/yii2/di/
web/uploads/
