html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*Задачник*/

#btn-createtask {
    margin-top: 15px;
}

/*Таблица задачника*/
/*Колонки со стрелками*/
.order-col{
    text-align: center;
    width: 50px;
}
/*Строки*/
#urg-2{
    /*Желтый*/
    background-color: #fcfbc0; 
}
#urg-1{
    /*Красный*/
    background-color: #ffa799;
}
#urg-4{
    /*Серый*/
    color: #bbbbbb;
}


/*Конец таблицы задачника*/
/*Конец задачника*/

/*Главная страница*/
/*Меню*/

.navbar-brand {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 43px;
    /*height: 50px;*/
    margin-right: 10px;
}

.navbar-brand .brand-label {
    padding-bottom: 10px;
}

.navbar-header .navbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right > .active > a {
    background-color: transparent !important;
}

.active {
    border-bottom: 2px solid #fff;
}

/*конец меню*/
.plashka{
    border: 1px solid grey !important;
    border-radius: 5px;
    box-shadow: 0 0 7px #666;
    /*background-color: #cccccc;*/
    height: 100%;
}

#plashki{
    margin-bottom: 30px;
}

#unit {
    height: 260px;
}

#plashka-content{
    padding: 40px;
}
/*Конец главной страницы*/

/*Информация на стайт*/
.helpblock{
    float: right;
}

.center-block {
    display: flex;
    height: 65px;
}

.siteinfo-index .table td:first-child,.siteinfo-index  .table td:nth-child(2),.siteinfo-index  .table td:nth-child(5),.siteinfo-index  .table td:nth-child(6) {
    text-align: center;
}

.table td {
    vertical-align: middle;
}
/*Файлы информации на сайт*/
.status {
    text-align: center;
}

.msg-ok {
    color: green;
    font-weight: bold;
    text-align: center;
    
}

.msg-error {
    color: red;
    font-weight: bold;
    text-align: center;
}
/*конец Файлы информации на сайт*/
/*Конец информация на сайт*/

/*Вестники*/
.btn-addvestnik{
    margin-top: 25px;
}
/*конец Вестники*/

#before-load {
    position: fixed; 
    left: 0;
    top: 0; 
    right: 0; 
    bottom: 0; 
    background: #fff;
    z-index: 1001; 
}
#before-load i {
    font-size: 70px;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    margin: -35px 0 0 -35px; 
}
/*Панелька дней рождений на главной*/
.birthday-list {
    list-style: none;
}

.birthday-list li {
    margin-bottom: 20px;
}
/*Конец Панелька дней рождений на главной*/

.helbtn {
    display: flex;
    height: 77px;
}